@model WebApplication_plataformas_de_desarrollo.Models.PlazoFijo

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PlazoFijo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="monto" class="control-label">Monto</label>
                <input asp-for="monto" type="number" class="form-control" />
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cbu" class="control-label">Caja de ahorro</label>
                <select class="form-select" asp-for="cbu"
                        asp-items="ViewBag.Cajas">
                <option>Seleccionar una caja de ahorro</option>
            </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
