@model WebApplication_plataformas_de_desarrollo.Models.Pago

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre del pago</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="monto" class="control-label">Monto a pagar</label>
                <input asp-for="monto" class="form-control" type="number"/>
                <span asp-validation-for="monto" class="text-danger"></span>
            </div>
            <p class="text-danger">@ViewData["mensaje"]</p>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
